/*--bistre: #352208ff;
--gold-crayola: #e1bb80ff;
--gold-fusion: #7b6b43ff;
--field-drab: #685634ff;
--raw-umber: #806443ff;
*/

/*Logo Font - Noto Serif */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --primary-color: #e1bb80ff; 
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}



body {
    font-family: 'Noto Serif', serif;
    background-color: #806443ff;
    line-height: 1.6;   
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1, 
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10 px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;

}

/*Map*/
#map{
    height:400px;
    width:100%;
  }


@media (min-width:1025px){



.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

#logo {
    display: inline-flex;
    margin: 15px;
    height: 60px;
    width: auto;
    
  }
a.noHover:hover {
    border-bottom: 2px;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

/* Utilities */

.cointainer {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Instagram */
  .fa-instagram {
    background: #C13584;
    color: white;
  }
}
